/* Screen */
@media (min-width: 1025px) {
    .header__navbar-simplify {
        display: none;
    }
    .method__search-simplify {
        display: none;
    }
    .selling__sidebar--mobie {
        display: none;
    }
}
    
/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .header__navbar {
        display: none;
    }
    .header__sales {
        padding: 8px;
        height: auto;
    }
    .selling__sidebar {
        display: none;
    }
    .container__selling {
        flex-direction: column;
    }
    .selling__container {
        width: 100%;
    }
    .sidebar__category {
        margin-top: 3rem;
    }
    .container__register {
        flex-direction: column;
    }
    .register__email {
        width: 100%;
    }
    .footer__contact > p {
        display: none;
    }
    .footer__support > p {
        display: none;
    }
    .footer__guide > p {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .header__nav-header {
        display: none;
    }
    .method__logo {
        text-align: center;
    }
    .header__navbar {
        display: none;
    }
    .header__sales {
        height: auto;
        padding: 8px;
    }

    .header__sales-content {
        width: 50%;
    }

    .sales__btn-buy {
        margin: 0;
    }

    .sales__btn-close {
        margin: 0;
    }

    .method__search-simplify {
        margin: 1.6rem;
    }

    .container__marketing {
        margin: 0 1.6rem;
        padding-bottom: 0;
    }

    .marketing__service {
        margin-top: 0.8rem;
    }

    .service__item {
        margin: 1.6rem 0;
    }
    .selling__sidebar {
        display: none;
    }
    .container__selling {
        flex-direction: column;
    }
    .selling__sidebar--mobie {
        width: 100%;
    }
    .sidebar__category {
        margin-top: 3rem;
    }
    .selling__container {
        width: 100%;
    }
    .card__price {
        flex-direction: column;
    }
    .container__register {
        flex-direction: column;
    }
    .register__email {
        width: 100%;
    }
    .footer__contact > p {
        display: none;
    }
    .footer__support > p {
        display: none;
    }
    .footer__guide > p {
        display: none;
    }
}